.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h3 {
  color: white;
}

.site-card-border-less-wrapper {
  width: fit-content;
  padding: 30px;
  background: #ececec;
}

.App-link {
  color: #61dafb;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.select_container {
  width: 25%;
  margin: 30px;
}

.quiz_maker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid black;
  width: 900px;

  padding: 40px;
}

.editor-container {
  background: #ececec;
  padding: 10px;
}

.box_actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  width: 100%;
}
.optional {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container__ {
  width: fit-content;
}

.container_home {
  background-color: azure;

  margin: 50px auto;
  margin-left: 570px;
  padding: 20px;
  box-shadow: 7px 9px 19px -1px rgba(217, 216, 216, 0.75);
  -webkit-box-shadow: 7px 9px 19px -1px rgba(217, 216, 216, 0.75);
  -moz-box-shadow: 7px 9px 19px -1px rgba(217, 216, 216, 0.75);
}

.actions button:first-child {
  margin-right: 150px;
}
